In [1]:
#Query: import all libraries


import pandas as pd
import numpy as np
import os
import plotly.express as px
import matplotlib.pyplot as plt
pd.options.plotting.backend = 'plotly'

In [2]:
#Query: help

# Import all libraries - Example Usage: import all libraries
# Use plotly dark theme - Example Usage: use dark theme
# Load file into a dataframe - Example Usage: Load train.csv in df
# Show n rows of dataframe - Example Usage: Show 10 rows from df
# Shape of dataframe - Example Usage: Show shape of df
# Describe dataframe - Example Usage: Describe dataframe df
# List columns of dataframe - Example Usage: Show columns from df
# Correlation matrix of dataframe - Example Usage: Display corelation matrix of df
# Histogram of column in dataframe - Example Usage: Plot histogram of category from df
# Bar chart of columns from dataframe - Example Usage: Show bar chart of product and amount from df
# Pie chart of column - Example Usage: Make pie chart of fruits from df
# Group by aggregations of columns in dataframe - Example Usage: group df by country and show sum and mean of population
# Line chart of columns in dataframe - Example Usage: Line chart of price and sale from df
# Scatter plot of columns in dataframe - Example Usage: Show scatter plot of youtube_likes and episode_duration from df
# Heatmap of columns in dataframe - Example Usage: from df make heat map of recording_time and youtube_views
# List all files in current directory - Example Usage: List all files in current directory

In [10]:
#Query: group df by WHO region and show sum of TotalDeaths

df.groupby(['TotalDeaths']).agg(['sum'])

,Country/Region,Continent,Population,TotalCases,NewCases,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
TotalDeaths,,,,,,,,,,,,,,,
1.0,BurundiCayman IslandsLiechtensteinCuraçaoFijiM...,AfricaNorth AmericaEuropeNorth AmericaAustrali...,1.369108e+07,768,0.0,0.0,655.0,0.0,106.0,0.0,8292.0,250.08,55456.0,523948.0,AfricaEuropeWesternPacificAfrica
2.0,BotswanaTurks and CaicosBelize,AfricaNorth AmericaNorth America,2.793155e+06,1019,0.0,0.0,133.0,0.0,880.0,6.0,3884.0,57.80,73354.0,70572.0,AfricaAmericas
3.0,ArubaPapua New GuineaBrunei Antigua and Barbud...,North AmericaAustralia/OceaniaAsiaNorth Americ...,9.644453e+06,712,0.0,0.0,422.0,0.0,275.0,2.0,5109.0,143.30,68686.0,272536.0,WesternPacificAmericas
4.0,Monaco,Europe,3.927000e+04,125,0.0,0.0,105.0,0.0,16.0,2.0,3183.0,102.00,38209.0,972982.0,Europe
5.0,RwandaUgandaRéunion,AfricaAfricaAfrica,5.974535e+07,4005,0.0,0.0,2952.0,0.0,1038.0,3.0,939.0,6.50,610037.0,67870.0,AfricaAfrica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41638.0,India,Asia,1.381345e+09,2025409,0.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.00,22149351.0,16035.0,South-EastAsia
46413.0,UK,Europe,6.792203e+07,308134,0.0,0.0,0.0,0.0,0.0,73.0,4537.0,683.00,17515234.0,257873.0,Europe
50517.0,Mexico,North America,1.290662e+08,462690,6590.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.00,1056915.0,8189.0,Americas
98644.0,Brazil,South America,2.127107e+08,2917562,0.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.00,13206188.0,62085.0,Americas
162804.0,USA,North America,3.311981e+08,5032179,0.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.00,63139605.0,190640.0,Americas

In [11]:
#Query: group df by "WHO region" and show sum of TotalDeaths

df.groupby(['TotalDeaths']).agg(['sum'])

,Country/Region,Continent,Population,TotalCases,NewCases,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum,sum
TotalDeaths,,,,,,,,,,,,,,,
1.0,BurundiCayman IslandsLiechtensteinCuraçaoFijiM...,AfricaNorth AmericaEuropeNorth AmericaAustrali...,1.369108e+07,768,0.0,0.0,655.0,0.0,106.0,0.0,8292.0,250.08,55456.0,523948.0,AfricaEuropeWesternPacificAfrica
2.0,BotswanaTurks and CaicosBelize,AfricaNorth AmericaNorth America,2.793155e+06,1019,0.0,0.0,133.0,0.0,880.0,6.0,3884.0,57.80,73354.0,70572.0,AfricaAmericas
3.0,ArubaPapua New GuineaBrunei Antigua and Barbud...,North AmericaAustralia/OceaniaAsiaNorth Americ...,9.644453e+06,712,0.0,0.0,422.0,0.0,275.0,2.0,5109.0,143.30,68686.0,272536.0,WesternPacificAmericas
4.0,Monaco,Europe,3.927000e+04,125,0.0,0.0,105.0,0.0,16.0,2.0,3183.0,102.00,38209.0,972982.0,Europe
5.0,RwandaUgandaRéunion,AfricaAfricaAfrica,5.974535e+07,4005,0.0,0.0,2952.0,0.0,1038.0,3.0,939.0,6.50,610037.0,67870.0,AfricaAfrica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41638.0,India,Asia,1.381345e+09,2025409,0.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.00,22149351.0,16035.0,South-EastAsia
46413.0,UK,Europe,6.792203e+07,308134,0.0,0.0,0.0,0.0,0.0,73.0,4537.0,683.00,17515234.0,257873.0,Europe
50517.0,Mexico,North America,1.290662e+08,462690,6590.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.00,1056915.0,8189.0,Americas
98644.0,Brazil,South America,2.127107e+08,2917562,0.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.00,13206188.0,62085.0,Americas
162804.0,USA,North America,3.311981e+08,5032179,0.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.00,63139605.0,190640.0,Americas

In [12]:
#Query: group df by Continent and show sum of TotalDeaths

df[['Continent','TotalDeaths']].groupby(['Continent']).agg(['sum'])

                  TotalDeaths
                          sum
Continent
Africa                22114.0
Asia                 100627.0
Australia/Oceania       281.0
Europe               205232.0
North America        229855.0
South America        154885.0

In [3]:
#Query: list all files in current directory

!ls .

data.csv  demo-notebook.ipynb

In [4]:
#Query: load data.csv in df

df = pd.read_csv('data.csv')

In [5]:
#Query: show 10 rows from df

df.head(10)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
5,Mexico,North America,1.290662e+08,462690,6590.0,50517.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.0,1056915.0,8189.0,Americas
6,Peru,South America,3.301632e+07,455409,NaN,20424.0,NaN,310337.0,NaN,124648.0,1426.0,13793.0,619.0,2493429.0,75521.0,Americas
7,Chile,South America,1.913251e+07,366671,NaN,9889.0,NaN,340168.0,NaN,16614.0,1358.0,19165.0,517.0,1760615.0,92022.0,Americas
8,Colombia,South America,5.093626e+07,357710,NaN,11939.0,NaN,192355.0,NaN,153416.0,1493.0,7023.0,234.0,1801835.0,35374.0,Americas
9,Spain,Europe,4.675665e+07,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe

In [6]:
#Query: show last 10 rows from df

df.head(10)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
5,Mexico,North America,1.290662e+08,462690,6590.0,50517.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.0,1056915.0,8189.0,Americas
6,Peru,South America,3.301632e+07,455409,NaN,20424.0,NaN,310337.0,NaN,124648.0,1426.0,13793.0,619.0,2493429.0,75521.0,Americas
7,Chile,South America,1.913251e+07,366671,NaN,9889.0,NaN,340168.0,NaN,16614.0,1358.0,19165.0,517.0,1760615.0,92022.0,Americas
8,Colombia,South America,5.093626e+07,357710,NaN,11939.0,NaN,192355.0,NaN,153416.0,1493.0,7023.0,234.0,1801835.0,35374.0,Americas
9,Spain,Europe,4.675665e+07,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe

In [7]:
#Query: describe df

df.describe()

,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
count,2.080000e+02,2.090000e+02,4.000000,188.000000,3.000000,2.050000e+02,3.000000,2.050000e+02,122.000000,208.000000,187.000000,1.910000e+02,191.000000
mean,3.041549e+07,9.171850e+04,1980.500000,3792.590426,300.000000,5.887898e+04,1706.000000,2.766433e+04,534.393443,3196.024038,98.681176,1.402405e+06,83959.366492
std,1.047661e+08,4.325867e+05,3129.611424,15487.184877,451.199512,2.566984e+05,2154.779803,1.746327e+05,2047.518613,5191.986457,174.956862,5.553367e+06,152730.591240
min,8.010000e+02,1.000000e+01,20.000000,1.000000,1.000000,7.000000e+00,42.000000,0.000000e+00,1.000000,3.000000,0.080000,6.100000e+01,4.000000
25%,9.663140e+05,7.120000e+02,27.500000,22.000000,40.500000,3.340000e+02,489.000000,8.600000e+01,3.250000,282.000000,6.000000,2.575200e+04,8956.500000
50%,7.041972e+06,4.491000e+03,656.000000,113.000000,80.000000,2.178000e+03,936.000000,8.990000e+02,27.500000,1015.000000,29.000000,1.357020e+05,32585.000000
75%,2.575614e+07,3.689600e+04,2609.000000,786.000000,449.500000,2.055300e+04,2538.000000,7.124000e+03,160.250000,3841.750000,98.000000,7.576960e+05,92154.500000
max,1.381345e+09,5.032179e+06,6590.000000,162804.000000,819.000000,2.576668e+06,4140.000000,2.292707e+06,18296.000000,39922.000000,1238.000000,6.313960e+07,995282.000000

In [8]:
#Query: shape of df

df.shape

(209, 16)

In [9]:
#Query: shape of df

df.shape

(209, 16)